/* Estilos gerais para a aplicação */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Garante que o rodapé fique na parte inferior */
}

/* Estilos para o cabeçalho */
.App-header {
  background-color: #282c34;
  min-height: 80vh; /* Ajuste a altura mínima conforme necessário */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Estilo dos botões */
.button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  outline: none;
}

.button:hover {
  transform: scale(1.1);
  background-color: rgba(97, 218, 251, 0.8);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0;
  padding: 40px;
}

.image-hover-effect {
  width: 150px; /* Ajuste o tamanho conforme necessário */
  height: auto;
  transition: transform 0.3s, filter 0.3s;
}

.image-hover-effect:hover {
  transform: scale(1.1); /* Aumenta o tamanho da imagem quando o mouse passa sobre ela */
  filter: brightness(1.2); /* Aumenta o brilho da imagem quando o mouse passa sobre ela */
}


.App-link, .discord, .Github, .linkedin, .certificados {
  color: #61dafb;
  font-size: 1.2em;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  transition: transform 0.3s, background-color 0.3s;
}

.App-link:hover, .discord:hover, .Github:hover, .linkedin:hover, .certificados:hover {
  transform: scale(1.1);
  background-color: rgba(97, 218, 251, 0.2);
}

/* Estilo do rodapé */
.footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}
